<div id="root">
    <div class="container">
      <h1 id="marca">
        EDUCALARMA
       </h1>
       <hr id="linea">
    </div>
    <div>
      <img
            class="col-2"
            src="assets/logo.svg"
            alt="logo educalarma"
            id="Logo"
          />
      <img
            class="col-3"
            src="assets/fondo.svg"
            alt="fondo educalarma"
            id="fondo"
          />
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
</div>

