#linea {
  position: absolute;
  width: 1440px;
  height: 0px;
  left: 0px;
  top: 92px;
  border: 1px solid #FFFFFF;
}

#marca{
  position: fixed;
  width: 373px;
  height: 64px;
  left: 86px;
  top: 18px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 57px;
  line-height: 64px;
  color: #FFFFFF;

}

#Logo{
  position: absolute;
  width: 489px;
  height: 623px;
  left: 110px;
  top: 170.99px;
}

#fondo{
  position: absolute;
  width: 1259.74px;
  height: 738.74px;
  left: 101px;
  right: 79.26px;
  top: 124.99px;
  bottom: 48.26px;
}

