<p>
  <mat-form-field appearance="outline" id="iniciousuario">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Escribe tu usuario" id="placeholderusuario">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>
<div id="labeltextusuario">
  Usuario
</div>
<p>
  <mat-form-field appearance="outline" id="inicioclave">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Escribe tu clave" id="placeholderclave">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>
<div id="labeltextclave">
  Clave
</div>
<p>
  <mat-form-field appearance="outline" id="inicionombre">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Escribe tu nombre" id="placeholdernombre">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>
<div id="labeltextnombre">
  Nombre
</div>
<p>
  <mat-form-field appearance="outline" id="inicioapellido">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Escribe tu apellido" id="placeholderapellido">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>
<div id="labeltextapellido">
  Apellido
</div>
<p>
  <mat-form-field appearance="outline" id="iniciocorreo">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Escribe tu correo" id="placeholdercorreo">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>
<div id="labeltextcorreo">
  Correo
</div>
<p>
  <mat-form-field appearance="outline" id="iniciocelular">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Escribe tu celular" id="placeholdercelular">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>
<div id="labeltextcelular">
  Celular
</div>
<p>
  <mat-form-field appearance="outline" id="inicioclave2">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Escribe tu clave" id="placeholderclave2">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>
<div id="labeltextclave2">
  Clave
</div>
<div>
  <button id="registrarse"routerLink="registro">
    Registrarse
  </button>
</div>
<div>
  <button id="iniciar"routerLink="inicio">
    Iniciar
  </button>
</div>
<h1 id="registrar">
  REGISTRATE
</h1>

