#iniciousuario{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  position: absolute;
  width: 271px;
  height: 48px;
  left: 715px;
  top: 26px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}
#placeholderusuario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;
  position: fixed;
  width: 271px;
  height: 48px;
  left: 715px;
  top: 26px;
  border: 2px solid #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 1;
  background-color:rgba(53, 34, 85, 0);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
#labeltextusuario{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 4px;
  position: absolute;
  width: 52px;
  height: 16px;
  left: 727px;
  top: 14px;
  background: #8F60CB;
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
#inicioclave{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  position: absolute;
  width: 271px;
  height: 48px;
  left: 1047px;
  top: 26px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}
#placeholderclave{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;
  position: fixed;
  width: 271px;
  height: 48px;
  left: 1047px;
  top: 26px;
  border: 2px solid #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 1;
  background-color:rgba(53, 34, 85, 0);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
#labeltextclave{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 4px;
  position: absolute;
  width: 52px;
  height: 16px;
  left: 1059px;
  top: 14px;
  background: #8F60CB;
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
#inicionombre{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  position: absolute;
  width: 400px;
  height: 48px;
  left: 868px;
  top: 182.99px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}
#placeholdernombre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;
  position: fixed;
  width: 400px;
  height: 48px;
  left: 868px;
  top: 182.99px;
  border: 2px solid #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 1;
  background-color:rgba(53, 34, 85, 0);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
#labeltextnombre{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 4px;
  position: absolute;
  width: 52px;
  height: 16px;
  left: 880px;
  top: 170.99px;
  background: #8F60CB;
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
#inicioapellido{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  position: absolute;
  width: 400px;
  height: 48px;
  left: 868px;
  top: 260.99px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}
#placeholderapellido{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;
  position: fixed;
  width: 400px;
  height: 48px;
  left: 868px;
  top: 260.99px;
  border: 2px solid #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 1;
  background-color:rgba(53, 34, 85, 0);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
#labeltextapellido{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 4px;
  position: absolute;
  width: 52px;
  height: 16px;
  left: 880px;
  top: 248.99px;
  background: #8F60CB;
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
#iniciocorreo{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  position: absolute;
  width: 400px;
  height: 48px;
  left: 868px;
  top: 338.99px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}
#placeholdercorreo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;
  position: fixed;
  width: 400px;
  height: 48px;
  left: 868px;
  top: 338.99px;
  border: 2px solid #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 1;
  background-color:rgba(53, 34, 85, 0);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
#labeltextcorreo{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 4px;
  position: absolute;
  width: 52px;
  height: 16px;
  left: 880px;
  top: 326.99px;
  background: #8F60CB;
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
#iniciocelular{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  position: absolute;
  width: 400px;
  height: 48px;
  left: 868px;
  top: 416.99px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}
#placeholdercelular{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;
  position: fixed;
  width: 400px;
  height: 48px;
  left: 868px;
  top: 416.99px;
  border: 2px solid #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 1;
  background-color:rgba(53, 34, 85, 0);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
#labeltextcelular{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 4px;
  position: absolute;
  width: 52px;
  height: 16px;
  left: 880px;
  top: 404.99px;
  background: #8F60CB;
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
#inicioclave2{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  position: absolute;
  width: 400px;
  height: 48px;
  left: 868px;
  top: 494.99px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}
#placeholderclave2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;
  position: fixed;
  width: 400px;
  height: 48px;
  left: 868px;
  top: 494.99px;
  border: 2px solid #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 1;
  background-color:rgba(53, 34, 85, 0);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
#labeltextclave2{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 4px;
  position: absolute;
  width: 52px;
  height: 16px;
  left: 880px;
  top: 482.99px;
  background: #8F60CB;
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
#registrarse{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 136px;
  height: 40px;
  left: 1022px;
  top: 605.99px;
  background: #8F60CB;
  border: 1px solid #000000;
  border-radius: 8px;
}
#iniciar{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 92px;
  height: 36px;
  left: 1334px;
  top: 30px;
  background: #8F60CB;
  border: 1px solid #000000;
  border-radius: 8px;
}
#registrar{
  position: absolute;
  width: 183px;
  height: 40px;
  left: 625px;
  top: 151.99px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
}

