<p>
  <mat-form-field appearance="outline" id="iniciousuario2">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Escribe tu usuario" id="placeholderusuario2">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>
<div id="labeltextusuario2">
  Usuario
</div>
<p>
  <mat-form-field appearance="outline" id="inicioclave3">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Escribe tu clave" id="placeholderclave3">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>
<div id="labeltextclave3">
  Clave
</div>
<h1 id="validacion">
  Valida el registro con el mensaje enviado a su correo para iniciar sesion
</h1>
<div>
  <button id="iniciar2"routerLink="registro/inicio">
    Iniciar
  </button>
</div>


